<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%></title>
    <%- include('partials/head.html'); %>
</head>
<body>
  <%- include('partials/navigation.html'); %>
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->
  <!--ABOUT SECTION -->
  <%- include('about.html'); %>
  <!-- FACTS SECTION -->
  <%- include('facts.html'); %>
  
  <!-- FOOTER -->
  <%- include('partials/footer.html'); %>
  <!-- JavaScript Libraries -->
  <script src="/src/public/lib/jquery/jquery.min.js"></script>
  <script src="/src/public/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/src/public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/src/public/lib/easing/easing.min.js"></script>
  <script src="/src/public/lib/wow/wow.min.js"></script>
  <script src="/src/public/lib/waypoints/waypoints.min.js"></script>
  <script src="/src/public/lib/counterup/counterup.min.js"></script>
  <script src="/src/public/lib/superfish/hoverIntent.js"></script>
  <script src="/src/public/lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/src/public/lib/js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>